.border {
	border-collapse: collapse;
}
.custom tr:nth-child(odd) {
	background-color: white;
}
.custom tr:nth-child(even) {
	background-color: rgb(220, 220, 202);
}
.border .head-table {
	color: white;
	background-color: rgb(80, 179, 6);
}
.custom tr img {
	width: 15px;
}
.custom {
	border-right: 1px solid black;
	border-bottom: none;
	border-top: none;
}